#logo {
    width: 120px;
    margin-left: 45px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.iconos_flag{
    margin-left: 25px;
}

.bandera {
    width: 35px;
    opacity: 75%;
}

.carousel-caption {
    top: 15%;
    right: 10%;
    height: 50%;
    /* text-align: right; */
}

.carousel-caption h2 {
    color: black;
    font-size: 2.5em;
    font-weight: bold;
}

.linea_naranja {
    width: 150px;
    height: 10px;
    background-color: #D28965;
    margin: 0 auto;
    border-radius: 20%;
}

.borde-derecho {
    border-right: 3px solid #D28965;
    border-image: linear-gradient(white 0%, #D28965  50%, white 100%) 2;
}

.img_cantera {
    max-width: 80%;
}

.icono_nosotros {
    width: 95px;
    height: 95px;
}

.icono_nosotros_ivestiga {
    width: 105px;
}

.img-fabricacion {
    width: 80%;
}

.produccion p {
    height: 50px;
}

.proceso-fab {
    background-color: #F5F5F5;
}

.img-produccion{
    background-size: auto;
    background-position: center;
    width: 140px;
    height: 140px;
}

.img-produccion-1 {
    background-image: url("../img/bloque_material_03.jpg");
}
.img-produccion-2 {
    background-image: url("../img/corte.jpg");
}
.img-produccion-3 {
    background-image: url("../img/pulido_refuerzo.jpg");
}
.img-produccion-4 {
    background-image: url("../img/control_calidad.jpg");
}
.img-produccion-5 {
    background-image: url("../img/transporte.jpg");
}

.flecha::after {
    content: url("../iconos/flecha_dcha.png");
    position: relative;
    top: -80px;
    left: 90px;
}

.texto-abajo {
    position: relative;
    bottom: -30px;
}


.img-producto-1 {
    background-image: url("../img/material/marfil.jpg");
}
.img-producto-2 {
    background-image: url("../img/material/negro.jpg");
}
.img-producto-3 {
    background-image: url("../img/material/marron.jpg");
}
.img-producto-4 {
    background-image: url("../img/material/rojo.jpg");
}
.img-producto-5 {
    background-image: url("../img/material/caliza.jpg");
}

.alto_descripcion {
    height: 100px;
}

.ancho {
    width: 768px;
}